
.forms {
  text-align: center;
  height: auto;
  justify-content: center;
  color: black;
  background-color: white;
  left: 0;
  right: 0;
  border: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11vh;
  color: black;
}

.device {
  margin-top: 20px;
  padding: 10px 10px 5px 10px !important;
  background-color: rgb(233, 233, 233);
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

ion-input {
  --background: transparent; /* Enlève l'arrière-plan */
  border: none; /* Enlève la bordure */
  box-shadow: none; /* Enlève l'ombre */
  width: 200px;

}
ion-label {
  border: none; /* Enlève la bordure */
}

.item-inner{
  padding-right: 0px!important;
}

// #container p {
//   font-size: 16px;
//   line-height: 22px;
//   color: black;
//   margin: 0;
// }

// .property {
//   border-top-left-radius: 25px;
//   border-top-right-radius: 25px;
//   height: auto;
//   padding: 40px 10px 10px 10px;
//   background-color: rgb(233, 233, 233);
//   margin-top: 5px;
// }

// ion-router-link {
//   color: black;
// }

// .list-md {
//   margin-left: 0;
//   margin-right: 0;
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-left: 0;
//   padding-right: 0;
//   padding-top: 8px;
//   padding-bottom: 8px;
//   background-color:  transparent;
// }

// .custom-button {
//   --background: rgb(212, 212, 212);
//   --color: #000000; /* Texte noir pour contraste */
//   border-radius: 8px; /* Bords arrondis */
// }

// .custom-select {
//   color: #000000!important;
//   background-color: white;
// }

// .select-wrapper {
//   -webkit-padding-start: var(--padding-start);
//   padding-inline-start: var(--padding-start);
//   -webkit-padding-end: var(--padding-end);
//   padding-inline-end: var(--padding-end);
//   padding-top: var(--padding-top);
//   padding-bottom: var(--padding-bottom);
//   border-radius: var(--border-radius);
//   display: -ms-flexbox;
//   /* display: flex; */
//   /* position: relative; */
//   -ms-flex-positive: 1;
//   flex-grow: 1;
//   -ms-flex-align: center;
//   align-items: center;
//   height: inherit;
//   min-height: inherit;
//   -webkit-transition: background-color 15ms linear;
//   transition: background-color 15ms linear;
//   background: transparent;
//   line-height: normal;
//   cursor: inherit;
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }

// .select-wrapper-inner {
//   // display: -ms-flexbox;
//   overflow: hidden;
//   margin-top: -50px;
// }
