<app-header></app-header>

<ion-content id="content" [fullscreen]="true">
  <div class="header">
    <h2><b>Add property</b></h2>
  </div>
  <form [formGroup]="property_form">
    <ion-row>
      <ion-list lines="none" class="property-list">
        <ion-item>
          <ion-select aria-label="Property" interface="action-sheet" placeholder="Select your property" (ionChange)="onPropertyChange($event)">
            <ion-select-option *ngFor="let item of type_property" [value]="item?.type">{{item?.type}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row>
      <div class="device-btn">
        <ion-button [disabled]="!selectedProperty" shape="round" size="small" id="open-modal" expand="block">add a device</ion-button>
      </div>
    </ion-row>

    <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div class="block">
          <ion-label class="block-title">Enter device information</ion-label>
          <div class="block-content">
            <ion-list lines="none">
              <div class="block-input">
                <ion-label class="list-name">Device name</ion-label>
                <ion-item class="list-item">
                  <ion-select aria-label="Device Name" interface="action-sheet" placeholder="Select your device" formControlName="de_name" (ionChange)="onDeviceChange($event)">
                    <ion-select-option *ngFor="let device of getDevices()" [value]="device.name">{{device?.name}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="block-input mb-3">
                <ion-label class="list-name">Device amperage</ion-label>
                <ion-item class="list-item">
                  <ion-select aria-label="Device Amperage" interface="action-sheet" placeholder="Select amperage" formControlName="de_amperage">
                    <ion-select-option *ngFor="let device of getDevices()" [value]="device.amperage">{{device?.amperage}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="block-input mb-3">
                <ion-label class="list-name">Device wattage</ion-label>
                <ion-item class="list-item">
                  <ion-select aria-label="Device Wattage" interface="action-sheet" placeholder="Select wattage" formControlName="de_wattage">
                    <ion-select-option *ngFor="let device of getDevices()" [value]="device.wattage">{{device?.wattage}}</ion-select-option>
                  </ion-select>
                </ion-item>
              </div>
              <div class="block-input">
                <ion-label class="list-name">Device usage time</ion-label>
                <ion-item class="list-item">
                  <ion-input type="text" placeholder="Enter device usage time" formControlName="de_usage_time"></ion-input>
                </ion-item>
              </div>
            </ion-list>
          </div>

          <ion-row>
            <div class="add-btn">
              <ion-button expand="block" size="small" shape="round" class="btn" (click)="onSubmit()">Add</ion-button>
            </div>
          </ion-row>
        </div>
      </ng-template>
    </ion-modal>
  </form>





  <!-- <ion-button class="opemodal" (click)="openModal()">Add device</ion-button>

  <ng-container *ngIf="showModal">
    <ion-header>
      <ion-toolbar>
        <ion-title>Formulaire</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeModal()">Fermer</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label>Option 1</ion-label>
          <ion-select placeholder="Sélectionner une option">
            <ion-select-option value="opt1">Option 1</ion-select-option>
            <ion-select-option value="opt2">Option 2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Option 2</ion-label>
          <ion-select placeholder="Sélectionner une option">
            <ion-select-option value="opt1">Option 1</ion-select-option>
            <ion-select-option value="opt2">Option 2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Option 3</ion-label>
          <ion-select placeholder="Sélectionner une option">
            <ion-select-option value="opt1">Option 1</ion-select-option>
            <ion-select-option value="opt2">Option 2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Option 4</ion-label>
          <ion-select placeholder="Sélectionner une option">
            <ion-select-option value="opt1">Option 1</ion-select-option>
            <ion-select-option value="opt2">Option 2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button class="opemo"  type="submit">Soumettre</ion-button>
      </form>
    </ion-content>
  </ng-container> -->
</ion-content>



<!-- <div class="device">
      <h4 class=" mb-3">Enter device information</h4>

      <ion-item class="p-0" style="background-color: transparent;">
        <ion-label>Device name: </ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>

      <ion-item class="p-0">
        <ion-label>Device amperage: </ion-label>
        <ion-select class="custom-select">
          <ion-select-option value="option1">Home</ion-select-option>
          <ion-select-option value="option2">Compagny</ion-select-option>
          <ion-select-option value="option3">Store</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="p-0">
        <ion-label>Device wattage: </ion-label>
        <ion-select class="custom-select">
          <ion-select-option value="option1">Home</ion-select-option>
          <ion-select-option value="option2">Compagny</ion-select-option>
          <ion-select-option value="option3">Store</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="p-0">
        <ion-label>Device usage time: </ion-label>
        <ion-input type="email" ></ion-input>
      </ion-item>
      <div class="p-5 pb-0 ">
        <ion-button color="success" expand="block">Add</ion-button>
      </div>
    </div>

  </ion-list>

</ion-content> -->
