<app-header></app-header>

<ion-content id="content" [fullscreen]="true">
  <div class="header">
    <h2><b>Add property</b></h2>
  </div>
  <ion-list class="forms">

    <ion-item class="p-0">
      <ion-label>Select your property: </ion-label>
      <ion-select style="height: 30px;" class="custom-select">
        <ion-select-option value="option1">Home</ion-select-option>
        <ion-select-option value="option2">Compagny</ion-select-option>
        <ion-select-option value="option3">Store</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="device">
      <h4 class=" mb-3">Enter device information</h4>

      <ion-item class="p-0" style="background-color: transparent;">
        <ion-label>Device name: </ion-label>
        <ion-input type="text" ></ion-input>
      </ion-item>

      <ion-item class="p-0">
        <ion-label>Device amperage: </ion-label>
        <ion-select class="custom-select">
          <ion-select-option value="option1">Home</ion-select-option>
          <ion-select-option value="option2">Compagny</ion-select-option>
          <ion-select-option value="option3">Store</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="p-0">
        <ion-label>Device wattage: </ion-label>
        <ion-select class="custom-select">
          <ion-select-option value="option1">Home</ion-select-option>
          <ion-select-option value="option2">Compagny</ion-select-option>
          <ion-select-option value="option3">Store</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="p-0">
        <ion-label>Device usage time: </ion-label>
        <ion-input type="email" ></ion-input>
      </ion-item>
      <div class="p-5 pb-0 ">
        <ion-button color="success" expand="block">Add</ion-button>
      </div>
    </div>

  </ion-list>

</ion-content>
