<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding content">
    <div class="img-content">
        <!-- <ion-thumbnail class="cie-img">
            <img alt="" src="assets/img/CIE-logo.jpeg" />
        </ion-thumbnail> -->
        <ion-img class="login-img" src="assets/img/log_backgroung.jpeg"
            alt="">
        </ion-img>
        <div class="cie-overlay">
            <ion-thumbnail class="cie-img">
                <img alt="" src="assets/img/CIE-logo.jpeg" />
            </ion-thumbnail>
        </div>

    </div>
    <!-- <div class="img-content">
        <ion-img class="cie-img" src="assets/img/CIE-logo.jpeg"
        alt="">
        </ion-img>
    </div> -->

    <div class="form-container">
        <ion-row>
            <ion-label class="ion-text-center login-title h2" id="h2-login"><strong>Login</strong></ion-label>
        </ion-row>

        <ion-row>
            <small class="login-small">Sign in to continue</small>
        </ion-row>

        <form class="login-form" method="" action="">
            <div class="section">
                <ion-label class="username-label">Username</ion-label>
                <ion-item lines="none" class="input-items">
                    <ion-input labelPlacement="stacked" [clearOnEdit]="true" placeholder="Enter username">
                    </ion-input>
                </ion-item>
            </div>

            <div class="section">
                <ion-label class="password-label">Password</ion-label>
                <ion-item lines="none" class="input-items">
                    <ion-input labelPlacement="stacked" [clearOnEdit]="true" placeholder="Enter password">
                    </ion-input>
                </ion-item>
            </div>

            <ion-button class="login-button"  expand="block">Submit</ion-button>

            <ion-row class="ion-align-items-center mt-3">
                <ion-col>
                    <a href="#" class="forgot-link">
                        <small class="">Forgot password</small>
                    </a>
                </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center">
                <ion-col>
                    <a href="#" class="signup-link">
                        <small class="">Sign up</small>
                    </a>
                </ion-col>
            </ion-row>

        </form>
    </div>

</ion-content>