body {
    overflow: hidden;
}

ion-content {
    --overflow: hidden;
    height: 100vh;
}

ion-content.fullscreen {
    height: 100vh;
}

.no-scroll .inner-scroll {
    height: 100%;
    overflow: hidden;
}

.scroll-y {
    overflow-y: hidden !important;
}

.img-content {
    position: relative;
}

.login-img {
    position: relative;
    right: 16px;
    width: 108%;
    bottom: 16px;
}

.cie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cie-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    position: relative;
    height: 80vh;
    bottom: 63px;
    right: 24px;
    background-color: #fff;
    width: 112%;
    border-radius: 5px;
    border-top-right-radius: 72px;
}

ion-row{
    position: relative;
    top: 30px;  
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#h2-login{
    color: #EE7D04!important;
}

.login-small {
    color: black!important;
    font-size: 14px !important;
    margin-top: 5px;
}


.section {
    position: relative;
    top: 55px;
    margin: auto;
    width: 90%;
    margin-top: 10px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-items {
    background-color: transparent;
    border-radius: 30px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ion-input {
    --background: transparent;
    color: #000;
}

.username-label, .password-label{
    margin: 15px; 
    display: flex;
    width: auto;
}

.login-button {
    position: relative;
    top: 80PX;
    margin: auto;
    width: 70%;
    margin-top: 27px;
    border-radius: 60px;
    color: #fff;
    background: var(--ion-color-btn);
}

.login-button:hover {
    background-color: #ff9d1a; /* Une version plus lumineuse de #EE7D04 */
}

.forgot-link {
    position: relative;
    margin: 35px 0;
    width: auto;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.signup-link {
    font-size: 16px;
    color: #EE7D04;
    text-decoration: none;
    margin-top: 5px;
}

.signup-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

.Sign-up-message {
    font-size: 16px;
    color: #0f0808;
}