#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header-icon {
  width: 24px; /* Ajustez la taille de l'icône selon vos besoins */
  height: 24px; /* Ajustez la taille de l'icône selon vos besoins */
  margin-right: 8px; /* Ajustez l'espacement entre l'icône et le texte selon vos besoins */
}
