<ion-header id="header" [translucent]="true">
  <ion-toolbar>
    <ion-grid class="head-grid">
      <ion-row>
        <ion-col size="2">
          <ion-icon id="menu" name="menu" aria-label="Menu"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <ion-title style="font-size: 100%;" id="title">
            <ion-router-link routerLink="/home"><h2 class="m-0">Power Calc</h2></ion-router-link>
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon id="person" name="person" aria-label="Profile"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<ion-content id="content" [fullscreen]="true">
  <div class="circle-container">
    <div class="circle">
      <!-- Votre contenu ici -->
    </div>
  </div>

  <div class="content-container">
    <p>Contenu du paragraphe</p> <!-- Ajout du paragraphe -->
  </div>



  <div id="container" >
        <i class="fa-solid fa-bars"></i>
        <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
