
<ion-content>
  <div class="img-container">
    <ion-thumbnail class="logo-img">
      <img alt="Silhouette of mountains" src="./assets/images/367738129_628172042790032_2441990706005323797_n.jpg" />
    </ion-thumbnail>
    <ion-img src="./assets/images/image-AM-423-424-page-72-73.jpg" alt="img page login" class="img-login"></ion-img>
  </div>
  <div class="form-container">
<h2 class="title">Login</h2>

<form action="">
  <div class="username-section">
    <ion-label>Username</ion-label>
    <ion-item lines="none">
      <ion-input type="text" placeholder="Enter Username"></ion-input>
    </ion-item>
  </div>

  <div class="password-section">
    <ion-label>Password</ion-label>
    <ion-item lines="none">
      <ion-input type="password" placeholder="xxxxxx"></ion-input>
    </ion-item>
  </div>

  <div class="btn-section">
    <ion-button expand="block">Block</ion-button>
  </div>

  <div class="link-section ">
    <ion-row >
      <a href="" class="ion-text-center">Forgot password</a>
    </ion-row>
    
    <ion-row >
    <a href="" class="ion-text-center">signup!</a>

    </ion-row>

  </div>
</form>

  </div>
</ion-content>
