<ion-content>
  
  <div class="img-container">
    <ion-thumbnail class="logo-img">
      <img alt="Silhouette of mountains" src="./assets/img/CIE-logo.jpeg" />
    </ion-thumbnail>
    <ion-img src="./assets/img/log_backgroung.jpeg" alt="img page login" class="img-login"></ion-img>
  </div>
  <div class="page-container">
    <div class="img-succes">
      <ion-img src="./assets/img/success-logo.png" alt="img page login" class="success-logo"></ion-img>
    </div>

    <div class="text">
      <ion-label class="label ">SUCCESS</ion-label>

      <ion-text class="message">
        "Congratulations! Your registration was successful."
      </ion-text>
    </div>
  </div>
</ion-content>