body {
    overflow: hidden;
}

ion-content {
    --overflow: hidden;
    height: 100vh;
}

ion-content.fullscreen {
    height: 100vh;
}

.no-scroll .inner-scroll {
    height: 100%;
    overflow: hidden;
}

.scroll-y {
    overflow-y: hidden !important;
}

.logo-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
  
  .page-container {
    position: relative;
    background: #FFF;
    height: 90vh;
    bottom: 8%;
    border-top-right-radius: 60px;
    max-height: calc(100vh - 20px); /* Limiter la hauteur de la page-container à la hauteur de l'écran moins un petit espace */
    overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
  
    .img-succes {
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
        margin: auto;
        top: 8vh;
    }

    .label {
        position: relative;
        display: flex;
        justify-content: center;
        top: 10vh;
        color: #3EB655 !important;
    }
    .message {
        position: relative;
        display: flex;
        justify-content: center;
        top: 12vh;
    }
  }