 .title {
    color: #010101 !important;
    position: relative;
    display: flex;
    justify-content: center;
    top: 5%;
    font-family: system-ui;
}
.chart-container{

.chart-segment   {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    top: 8vh;
}
.amount-title {
    position: relative;
    top: 11vh;
    color: #010101 !important;
    display: flex; 
    justify-content: center;
    
}
.amount {
    position: relative;
    display: flex;
    justify-content: center;
    top: 10vh;
    font-size: 40px;
    color: #010101 !important;
}

}

.invoice-details {
    background: #EFF3F4;
    width: 100%;
    top: 12vh;
    position: relative;
    height: 50vh;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;

    .label {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin-top: 14px;
        font-size: 20px;
    }
    ion-list{
        background-color: #EFF3F4;
        margin-top: 20px;
    }
    ion-item {
        --background: #EFF3F4; /* Définir la couleur de fond pour chaque élément de la liste */
    }

  
}

.footer_btn {
    justify-content: center;
    display: flex;
  }
  
  .back_button {
    width: 145px;
    right: 20px;
    position: relative;
  }
  
  .print_button {
    width: 145px;
    left: 20px;
    position: relative;
  }