<ion-content [fullscreen]="true">
  <ion-row class="title">
    <h1>INVOICE</h1>
  </ion-row>

  <ion-row>
    <div class="chart-container">
      <ion-segment class="chart-segment">
        <ion-img src="assets/img/chart-pie1.png"></ion-img>
      </ion-segment>
      <h3 class="amount-title">Amount</h3>
      <ion-label class="amount" *ngIf="total_invoice">{{total_invoice}} fcfa</ion-label>
    </div>
  </ion-row>

  <ion-row>
    <div class="invoice-details">
      <ion-label class="label">Invoice details</ion-label>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Total Device:</ion-label>
          <ion-label slot="end">{{store?.length}}</ion-label>
        </ion-item>
        <ion-item *ngFor="let item of devices_info">
          <ion-label>{{item.de_name}}:</ion-label>
          <ion-label slot="end">{{item.device_invoice}} fcfa</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-row>
</ion-content>

<ion-toolbar>
  <div class="footer_btn">
    <ion-button class="back_button" fill="outline" size="default" shape="round" routerLink="/user/home">New invoice</ion-button>
  </div>
</ion-toolbar>
