

<ion-content [fullscreen]="true">
 <ion-row class="title">
  <h1>INVOICE</h1>
 </ion-row>
 <div class="chart-container">
  <ion-title class="amount-title">Montant</ion-title>
  <ion-segment class="chart-segment">
    <!-- Remplacez les valeurs par celles de votre graphique -->
    <ion-segment-button value="section1" checked>
      70%
    </ion-segment-button>
    <ion-segment-button value="section2">
      30%
    </ion-segment-button>
  </ion-segment>
</div>

<div class="invoice-details">
  <ion-label class="label">Invoice details</ion-label>
</div>
</ion-content>
