<ion-content [fullscreen]="true">
  <ion-row class="title">
    <h1>INVOICE</h1>
  </ion-row>

  <ion-row>
    <div class="chart-container">
      <ion-segment class="chart-segment">
        <ion-img src="assets/img/chart-pie1.png"></ion-img>
      </ion-segment>
      <h3 class="amount-title">Amount</h3>
      <ion-label class="amount">150000 Fcfa</ion-label>
    </div>
  </ion-row>

  <ion-row>
    <div class="invoice-details">
      <ion-label class="label">Invoice details</ion-label>
    </div>
  </ion-row>

</ion-content>