.img-content {
    position: relative;
}

.login-img {
    position: relative;
    right: 16px;
    width: 108%;
    bottom: 16px;
}

.cie-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Autres styles pour l'overlay */
}

.cie-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    position: relative;
    height: 80vh;
    bottom: 63px;
    right: 24px;
    background-color: #fff;
    width: 112%;
    border-radius: 5px;
    border-top-left-radius: 72px;
}

ion-row{
    position: relative;
    top: 30px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

#h2-register{
    color: #EE7D04!important;
}

.register-small {
    color: black!important;
    font-size: 14px !important;
    margin-top: 5px;
}

.section {
    position: relative;
    top: 50px;
    margin: auto;
    width: 90%;
    margin-top: 15px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.input-items {
    background-color: transparent;
    border-radius: 30px;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

ion-input {
    --background: transparent;
    color: #000;
}

.name-label, .email-label, .password-label, .birth-label {
    margin: 15px; 
    display: flex;
    width: auto;   
    // display:contents;
}

.havea-account {
    margin-bottom: 10px;
}

.register-small {
    color: black !important;
    font-size: 14px !important;
    margin-top: 10px;
}

.register-button {
    position: relative;
    top: 50px;
    margin: auto;
    width: 88%;
    margin-top: 27px;
    border-radius: 60px;
    color: #fff;
    background: #EE7D04;
}

.register-button:hover {
    background-color: #ff9d1a; /* Une version plus lumineuse de #EE7D04 */
}

.signin-link {
    font-size: 16px;
    color: #EE7D04;
    text-decoration: none;
    margin-top: 5px;
}

.signin-link:hover {
    text-decoration: underline; /* Add underline on hover */
}

.Sign-up-message {
    font-size: 16px;
    color: #0f0808;
}