.header-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.head-grid {
  text-align: center;
}

.menu {
  margin-top: 4px;
  width: 28px;
  height: 30px;
}

#title {
  margin-top: 8px;
}

#person {
  margin-top: 4px;
  width: 26px;
  height: 26px;
}


