<ion-header [translucent]="true" collapse="fade" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center" position="stacked" [routerLink]="['/user', 'home']"  size="medium"> PowerCal
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/user','notifications']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>


  </ion-toolbar>

</ion-header>