<ion-header [translucent]="true" collapse="fade" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="medium"></ion-menu-button>
    </ion-buttons>
    <ion-title class="text-center" position="stacked" [routerLink]="['/user', 'home']" size="medium">PowerCal</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/user','profile']">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="house">
    <div class="view-PropertyButtom">
      <h5 shape="round" expand="block">{{propertyType}}</h5>
    </div>
    <ion-row>
      <div class="device-liste">
        <ion-label class="label">Device list</ion-label>
        <ion-list lines="none">
          <ion-item>
            <ion-label>Total Device:</ion-label>
            <ion-label slot="end">{{house?.length}}</ion-label>
          </ion-item>
          <ion-item class="p-0 m-0" *ngFor="let item of house">
            <ion-label class="p-0 m-0">{{item.de_name}}</ion-label>
            <ion-button>
              <ion-icon class="p-1" id="edit" name="pencil" aria-label="edit"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon class="p-1" id="trash" name="trash" aria-label="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <div class="pt-4" style="display: flex; justify-content: center;">
            <h5 shape="round" (click)="Adddevicecompany(company)" expand="block"><ion-icon class="p-2 pt-1 pb-1" style="background: rgb(212, 212, 212);" name="add" id="add" aria-hidden="true"></ion-icon></h5>
          </div>
        </ion-list>
        <div class="button-container">
          <ion-button (click)="Singlehouseproperty(house)" expand="block" color="secondary">Generate Invoice</ion-button>
        </div>
      </div>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="store">
    <div class="view-PropertyButtom">
      <h5 shape="round" expand="block">{{propertyType}}</h5>
    </div>
    <ion-row>
      <div class="device-liste">
        <ion-label class="label">Device list</ion-label>
        <ion-list lines="none">
          <ion-item>
            <ion-label>Total Device:</ion-label>
            <ion-label slot="end">{{store?.length}}</ion-label>
          </ion-item>
          <ion-item class="p-0 m-0" *ngFor="let item of store">
            <ion-label class="p-0 m-0">{{item.de_name}}</ion-label>
            <ion-button>
              <ion-icon class="p-1" id="edit" name="pencil" aria-label="edit"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon class="p-1" id="trash" name="trash" aria-label="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <div class="pt-4" style="display: flex; justify-content: center;">
            <h5 shape="round" (click)="Adddevicecompany(company)" expand="block"><ion-icon class="p-2 pt-1 pb-1" style="background: rgb(212, 212, 212);" name="add" id="add" aria-hidden="true"></ion-icon></h5>
          </div>
        </ion-list>
        <div class="button-container">
          <ion-button (click)="Singlestoreproperty(store)" expand="block" color="secondary">Generate Invoice</ion-button>
        </div>
      </div>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="agency">
    <div class="view-PropertyButtom">
      <h5 shape="round" expand="block">{{propertyType}}</h5>
    </div>
    <ion-row>
      <div class="device-liste">
        <ion-label class="label">Device list</ion-label>
        <ion-list lines="none">
          <ion-item>
            <ion-label>Total Device:</ion-label>
            <ion-label slot="end">{{agency?.length}}</ion-label>
          </ion-item>
          <ion-item class="p-0 m-0" *ngFor="let item of agency">
            <ion-label class="p-0 m-0">{{item.de_name}}</ion-label>
            <ion-button>
              <ion-icon class="p-1" id="edit" name="pencil" aria-label="edit"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon class="p-1" id="trash" name="trash" aria-label="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <div class="pt-4" style="display: flex; justify-content: center;">
            <h5 shape="round" (click)="Adddevicecompany(company)" expand="block"><ion-icon class="p-2 pt-1 pb-1" style="background: rgb(212, 212, 212);" name="add" id="add" aria-hidden="true"></ion-icon></h5>
          </div>
        </ion-list>
        <div class="button-container">
          <ion-button (click)="Singleagencyproperty(agency)" expand="block" color="secondary">Generate Invoice</ion-button>
        </div>
      </div>
    </ion-row>
  </ng-container>

  <ng-container *ngIf="company">
    <div class="view-PropertyButtom">
      <h5 shape="round" expand="block">{{propertyType}}</h5>
    </div>
    <ion-row>
      <div class="device-liste">
        <ion-label class="label">Device list</ion-label>
        <ion-list lines="none">
          <ion-item>
            <ion-label>Total Device:</ion-label>
            <ion-label slot="end">{{company?.length}}</ion-label>
          </ion-item>
          <ion-item class="p-0 m-0" *ngFor="let item of company">
            <ion-label class="p-0 m-0">{{item.de_name}}</ion-label>
            <ion-button>
              <ion-icon class="p-1" id="edit" name="pencil" aria-label="edit"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon class="p-1" id="trash" name="trash" aria-label="trash"></ion-icon>
            </ion-button>
          </ion-item>
          <div class="pt-4" style="display: flex; justify-content: center;">
            <h5 shape="round" (click)="Adddevicecompany(company)" expand="block"><ion-icon class="p-2 pt-1 pb-1" style="background: rgb(212, 212, 212);" name="add" id="add" aria-hidden="true"></ion-icon></h5>
          </div>
        </ion-list>
        <div class="button-container">
          <ion-button (click)="Singlecompanyproperty(company)" expand="block" color="secondary">Generate Invoice</ion-button>
        </div>
      </div>
    </ion-row>
  </ng-container>
</ion-content>
